body {
    background-color: #f08080;
    margin: 0%;
}

header {
    position: fixed;
    top: 0;
    height: 12vh;
    background-color: #7de2e7;
    width: 100%;
    position: relative;
}

header nav {
    display: flex;
}

header nav img {
    height: 10vh;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0.5em;
    gap: 0.5em;
    width: 100%;
    justify-content: space-around;
    font-size: 0.90em;
}

header nav li {
    width: 300%;
    display: flex;
    align-items: center;
}

header nav a {
    text-decoration: none;
}


.logo {
    margin: 0.30em;
    padding: 0.20em;
    width: 10em;
    border: none
}

main {
    margin-top: 5vh;
}

h1 {
    color: #a12069;
    margin: 0.20em;
    padding: 0.20em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.80em;
}

h2 {
    color: #7368ea;
    margin: 0.20em;
    padding: 0.20em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.45em;
}

h3 {
    color: #ffe700;
    margin: 0.30em;
    padding: 0.30em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.35em;
}

p {
    color: white;
    margin: 0.40em;
    padding: 0.30em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}

h4 {
    color: #dc143c;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.15em;
}

h5 {
    color: black;
    margin: 0.30em;
    padding: 0.30em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.05em;
}

.foto1 {
    width: 13.75em;
    border-radius: 0.6250em;
    border: 0.3125em solid #ffe700;
    margin-right: 3.25em;
    margin-left: 3.25em;
    padding: 0.55em;
}

.foto2 {
    width: 13.75em;
    border-radius: 0.625em;
    border: 0.3125em solid #7368ea;
    margin-right: 3.25em;
    margin-left: 3.25em;
    padding: 0.55em;
}

.foto4 {
    width: 13.75em;
    border-radius: 0.625em;
    border: 0.3125em solid blue;
    margin-right: 3.25em;
    margin-left: 3.25em;
    padding: 0.55em;
}

.foto5 {
    width: 13.75em;
    border-radius: 0.625em;
    border: 0.3125em solid #d5f783;
    margin-right: 3.25em;
    margin-left: 3.25em;
    padding: 0.55em;
}

.foto6 {
    width: 13.75em;
    border-radius: 0.625em;
    border: 0.3125em solid #f28705;
    margin-right: 3.25em;
    margin-left: 3.25em;
    padding: 0.55em;
}

img {
    width: 13.75em;
    border-radius: 0.7em;
    margin-right: 3.25em;
    margin-left: 3.25em;
    padding: 0.55em;
    border: 0.3125em solid #9acd32;
}

.next img {
    width: 7.40em;
    border-radius: 0.625em;
    border: 0.3125em solid #9acd32;
    margin: 0.50em;
    padding: 0.35em;
}
.next {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1em 0 2em;
}

footer {
    border-radius: 0.5em;
    background-color: #7de2e7;
    padding: 0.25em;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.store img {
    width: 4.10em;
    border-radius: 0.7em;
    border: 0.3125em solid #d486b8;
    margin: 0.25em;
    padding: 0.35em;
    height: 7em;
}

.store {
    display: flex;
    justify-content: center;
}

.store1 img {
    width: 14.50em;
    border-radius: 0.7em;
    border: 0.3125em solid #d486b8;
    margin: 0.25em;
    padding: 0.35em;
}

.store1 {
    display: flex;
    justify-content: center;
}

.vt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 2em 0 2em;
}

.vt img {
    width: 7.45em;
    border: 0.225em solid #d486b8;
    margin: 0.50em;
    padding: 0.35em;
}

.sizing {
    width: 4em;
    margin: 0.20em;
    padding: 0.50em; 
    border: none
}