body {
    background-color: #f08080;
    margin: 0%;
}

header {
    position: fixed;
    top: 0;
    height: 12vh;
    background-color: #7de2e7;
    width: 100%;
    position: relative;
}

header nav {
    display: flex;
}

header nav img {
    height: 10vh;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0.5em;
    gap: 0.5em;
    width: 100%;
    justify-content: space-around;
}

header nav li {
    width: 300%;
    display: flex;
    align-items: center;
}

header nav a {
    text-decoration: none;
}

.logo {
    margin: 0.30em;
    padding: 0.30em;
}

.logo2 {
    margin: 0.10em;
    padding: 0.10em;
    width: 6em;
    border-radius: 0.4250em;
}

main {
    margin-top: 5vh;
}

h1 {
    color: #a12069;
    margin: 0.20em;
    padding: 0.20em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.80em;
}

h2 {
    color: #7368ea;
    margin: 0.20em;
    padding: 0.20em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.45em;
}

h3 {
    color: #ffe700;
    margin: 0.30em;
    padding: 0.30em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.35em;
}

p {
    color: white;
    margin: 0.30em;
    padding: 0.30em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}

h4 {
    color: #dc143c;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.15em;
}

h5 {
    color: black;
    margin: 0.30em;
    padding: 0.30em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.05em;
}

.foto1 {
    width: 18.75em;
    border-radius: 0.6250em;
    border: 0.3125em solid #ffe700;
    margin-right: 1.25em;
    margin: 0.40em;
    padding: 0.40em;
}

.foto2 {
    width: 18.75em;
    border-radius: 0.625em;
    border: 0.3125em solid #7368ea;
    margin-right: 1.25em;
    margin: 0.40em;
    padding: 0.40em;
}

.foto4 {
    width: 18.75em;
    border-radius: 0.625em;
    border: 0.3125em solid blue;
    margin-right: 1.25em;
    margin: 0.40em;
    padding: 0.40em;
}

.foto5 {
    width: 18.75em;
    border-radius: 0.625em;
    border: 0.3125em solid #d5f783;
    margin-right: 1.25em;
    margin: 0.40em;
    padding: 0.40em;
}

.foto6 {
    width: 18.75em;
    border-radius: 0.625em;
    border: 0.3125em solid #f28705;
    margin-right: 1.25em;
    margin: 0.40em;
    padding: 0.40em;
}

img {
    width: 5.75em;
    border-radius: 0.5em;
    margin-right: 0.875em;
    margin: 0.30em;
    padding: 0.30em;
}

.next img {
    width: 8.05em;
    border-radius: 0.625em;
    margin-right: 0.625em;
    border: 0.3125em solid #9acd32;
}
.next {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 1em 0 2em;
}

.vintageway {
    margin: 0.30em;
    padding: 0.30em;
    justify-content: center;
    display: flex;
}

.vintageway1 img {
    margin: 0.30em;
    padding: 0.30em;
    justify-content: center;
    display: flex;
}    

.vintageway2 img {
    margin: 0.30em;
    padding: 0.30em;
    justify-content: center;
    display: flex;
}  


footer h6 {
    border-radius: 0.5em;
    background-color: #7de2e7;
    padding: 0.625em;
    text-align: center;
    margin-bottom: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #c4579c;
}

.store img {
    width: 4.50em;
    border-radius: 0.28125em;
    border: 0.125em solid #d486b8;
    margin-right: 0.125em;
}

.store {
    display: flex;
    justify-content: center;
}

.store1 img {
    width: 14.50em;
    border-radius: 0.40625em;
    border: 0.125em solid #d486b8;
    margin-right: 0.1875em;
}

.store1 {
    display: flex;
    justify-content: center;
}

.vt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 1em 0 2em;
}

.vt img {
    width: 8.35em;
    border: 0.125em solid #d486b8;
}
